*{
  list-style: none;
  margin: 0;
}

ul{
  padding-left: 0;
  margin: 0;
}
h3{
  margin-bottom: 0;
}

.myorder-detail-container h3{
  padding-bottom: 10px;
  border-bottom: 4px solid #000;
}

.myorder-detail-container section{
  margin-top: 80px;
  border-bottom: 1px solid #000;
}

.my-prodcut-item-list li{
  cursor: pointer;
  border-bottom: 0.7px solid rgb(170, 170, 170);
}

.my-prodcut-item-list li:last-child{
  cursor: pointer;
  border-bottom: none;
}

.my-prodcut-item-list li:hover{
  background-color: antiquewhite;
}

.my-order > ul {
  display: flex;
}

.my-order .order-info{
  padding-top: 20px;
  margin-left: 0;
}

.order-info > li {
  margin-right: 20px;
}

.status-group{
  display: flex;
  align-items: center;
  padding: 70px 0 20px 0;
}

.status-group > span{
  margin: 1em;
}

.status-group > li{
  display: flex;
  width: 7em;
  height: 7em;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #f4f4f4;
}

.current-status{
  background: #303033 !important;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
}

.status-refund{
  background: #af3830 !important;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
}

.my-product-itme-header{
  display: flex;
  padding: 20px 0;
  font-size: 1.1em;
  font-weight: 700;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.my-product-itme-header > div{
  display: flex;
  justify-content: center;
}

.my-product-itme-header > div:first-child, .my-product-item > div:first-child{
  width: 60%;
}

.my-product-itme-header > div:nth-child(2), .my-product-item > div:nth-child(2){
  width: 20%;
}

.my-product-itme-header > div:nth-child(3), .my-product-item > div:nth-child(3){
  width: 20%;
}

.my-product-item{
  display: flex;
  padding: 10px 0 10px 10px;
}

.my-product-item > div:first-child{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.my-product-item > div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-info-left > img{
  margin-right: 20px;
}

.product-name{
  font-size: 1em;
  font-weight: 700;
}

.buyer-info{
  display: flex;
  padding: 0 10px;
}

.buyer-info:first-child{
  border-bottom: 1px solid #000;
}

.buyer-info > div:first-child{
  width: 20%;
  padding: 15px 10px;
  border-right: 1px solid #000;
}

.buyer-info > div:last-child{
  display: flex;
  width: 20%;
  font-size: 1.1em;
  font-weight: 700;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px 10px 25px;
}